.themeButton img {
    width: 10%;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.navbarLink {
    color: #e6dfdf;
    font-weight: bolder;
    margin-right: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
    letter-spacing: -2px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    white-space: nowrap;
}

.navbarLink:hover {
    color: #d37400;
}

.navbarLink.logout {
    margin-top: 4px;
}

.c-grid {
    justify-content: center;
    display: flex;
}

.editForm {
    margin-top: 40px;
}